# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_3245010df32f30a5a3718075c6e5c27db867990e08d49
# Set the environment for your application, e.g. "development"
NODE_ENV="development"
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51JSg6XAeFJxlriASLaZNPyQV8d4D7BrgCRbXj3ugKFyRc4YGylSHMGwfU4fRF0c6aMg9kc8fxbmexsVNQ3DcGe9W009yw6pQtI

# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=
CHEC_API_URL=https://api.chec.io

